﻿@{
    ViewData["Title"] = "Administración del Sitio de Alquiler de Películas";
}


<div class="marquee">
    <p>¡Bienvenido a nuestro sitio de alquiler de películas!</p>
</div>

<div class="container">
    <div class="jumbotron text-center" id="jumbotron">
        <h1>Bienvenido a la Administración</h1>
        <div class="text-center">
            <img src="/img/img1.png" alt="admin" class="img-fluid" />
        </div>
        <p>Esta plataforma está diseñada para facilitar la gestión del sitio de alquiler de películas.</p>
        <p>Desde aquí puedes:</p>

        <ul class="list-unstyled">
            <li><strong>Administrar Películas:</strong> Agregar, editar o eliminar películas de la base de datos.</li>
            <li><strong>Gestionar Usuarios:</strong> Ver y administrar la información de los usuarios registrados.</li>
        </ul>

        <p>Esta interfaz es tu herramienta para tomar el control total del sitio y brindar una experiencia excepcional a los usuarios.</p>
        <p>¡Comienza a explorar las opciones disponibles en el menú de navegación!</p>

        <div class="mt-4">
            <a class="btn btn-primary btn-lg mr-3" asp-controller="Peliculas">Añadir Películas</a>
            <a class="btn btn-success btn-lg" asp-controller="Usuarios">Administrar Clientes</a>
        </div>
    </div>
</div>