﻿@{
    ViewData["Title"] = "Manual de Uso";
}

<h1>@ViewData["Title"]</h1>

<h2>Introducción</h2>

<p>Bienvenido al Manual de Uso de nuestra plataforma de alquiler de películas. Este documento tiene como objetivo proporcionar una guía detallada sobre cómo utilizar las diversas funcionalidades y características disponibles en nuestro sitio.</p>

<h2>Menú de Navegación</h2>

<p>Una vez dentro, encontrarás un menú de navegación que te permitirá acceder a diferentes secciones:</p>
<ul>
    <li><strong>Inicio:</strong> La página principal de administración.</li>
    <li><strong>Añadir Películas:</strong> Permite agregar nuevas películas a la base de datos.</li>
    <li><strong>Administrar Clientes:</strong> Acceso a la gestión de usuarios registrados.</li>
</ul>

<h2>Funcionalidades Principales</h2>

<p>Nuestra plataforma ofrece una serie de funcionalidades clave:</p>
<ul>
    <li><strong>Agregar Películas:</strong> Completa los campos requeridos para agregar nuevas películas, incluyendo título, precio, género, etc.</li>
    <li><strong>Administrar Clientes:</strong> Visualiza, edita o elimina información de los clientes registrados.</li>

</ul>

<h2>Política de Privacidad</h2>

<p>Nuestra política de privacidad está diseñada para proteger la información personal de nuestros usuarios. Para más detalles, visita la página de <a href="/img/pdf1.pdf">Política de Privacidad</a>.</p>


<h2>¡Contacta con Nosotros!</h2>

<p>Si tienes alguna pregunta o problema técnico, no dudes en ponerte en contacto con nuestro equipo de soporte:</p>

<p>Contacto: <a href="tel:+593939930962">Darwin</a></p>